@model ProyectoMVC_AlexiaSabate.Models.ViewModels.DetailAnimalViewModel

@{
	var errorMessage = ViewBag.NoAnimal as string;
}

@if(!string.IsNullOrEmpty(errorMessage))
{
	<div class="alert alert-danger" role="alert">
		@errorMessage
	</div>
}
<h2>Detalles del Animal</h2>

<p>ID: @Model.AnimalDetail.IdAnimal</p>
<p>Nombre: @Model.AnimalDetail.NombreAnimal</p>
<p>Raza: @Model.AnimalDetail.Raza</p>
<p>Tipo de Animal: @Model.AnimalDetail.TipoDeAnimal.TipoDescripcion</p>
<p>Fecha de Nacimiento: @Model.AnimalDetail.FechaNacimiento?.ToString("d")</p>

<a href="@Url.Action("Index","Home")">Volver a la lista</a>
