@model ProyectoMVC_AlexiaSabate.Models.ViewModels.DetailAnimalViewModel

@{
	var errorMessage = ViewBag.NoAnimal as string;
}

@if(!string.IsNullOrEmpty(errorMessage))
{
    <div class="alert alert-danger" role="alert">
        @errorMessage
    </div>
}

<h2 class="mb-4">Detalles del Animal</h2>

<ul class="list-group">
    <li class="list-group-item">ID: @Model.AnimalDetail.IdAnimal</li>
    <li class="list-group-item">Nombre: @Model.AnimalDetail.NombreAnimal</li>
    <li class="list-group-item">Raza: @Model.AnimalDetail.Raza</li>
    <li class="list-group-item">Tipo de Animal: @Model.AnimalDetail.TipoDeAnimal.TipoDescripcion</li>
    <li class="list-group-item">Fecha de Nacimiento: @Model.AnimalDetail.FechaNacimiento?.ToString("d")</li>
</ul>

<a href="@Url.Action("Index", "Home")" class="btn btn-secondary mt-3">Volver a la lista</a>
